.header__content>h1 {
    font-size: 5.5rem;
    padding: 0px 15rem;
    line-height: 5.5rem;
   
}
.header__content-btns {
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
}
.main__people {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main__content{
    max-width: 57rem;
    margin: 0 auto;
}
.footer__content p{
    padding: 0 8rem;
    text-align: center;
}